/*-------------------------------------------

   	 Footer
-------------------------------------------*/
.social-footer { 
	margin: $base-large 0 0; 
	position: relative;
	min-height: 500px;
	background: $black-lightest;
	padding-top: 10px;
	padding-bottom: 30px;
	@media (max-width: 1330px) {
		.royalSlider {
			padding: 0 50px;
		}
	}

	.next, .prev{background:url("../i/arrows.png") no-repeat 0 0; width:42px; height:49px; position:absolute; top:102px; text-indent:-9999px; z-index: 999; cursor: pointer;}
	
	.next{background-position:-42px 0; right:0px;}
	.next:hover{background-position:-42px -49px;}
	.prev{background-position:0 0; left:0px;}
	.prev:hover{background-position:0 -49px;}

	@media (max-width: 700px) {
		padding-bottom: $base*3;
	}

	.adjunct-header {
		li a { 
			@extend %text-large;
			color: $black-light;
			&:hover, &:focus {
				color: $black;
			}
			&.on { color: $black; }
		}
		@media (max-width: 700px) {
			ul {
				float: left;
				max-width: none;
			}
			.adjunct-link {
				float: right;
				max-width: none;
				@media (max-width: 400px) {
					a {
						font-size: 9px;
						top: -5px;
						position: relative;
					}
				}
			}
		}
	}
	.pager { top: 102px !important; }
	
	.split3 .col.block-instagram {
    	min-height: 0 !important;
    	height: auto;
	}

	@media (max-width: 840px) {
		.split3 .col {
/*
			min-height: 550px !important;
			max-height: 600px !important;
*/
			.article {
				display: none;
			}
		}
	}


	@media (min-width: 801px) {
		.split3 .col {
			/*
			min-height: 660px !important;
			max-height: 900px !important;
			*/

		}
	}
	@media (min-width: 701px) and (max-width: 839px){
		.split3 .col {
			min-height: 450px !important;
			max-height: 500px !important;
			.article {
				display: none;
			}
		}
	}
	@media (max-width: 700px) {
		.pager {
			display: none !important;
		}
		
		
		.split3 .col {
			width: 376px;
			padding-top: 20px;
			margin: 0 auto 30px !important;
			min-height: 0 !important;
			float: none;
			
			.article {
				display: block;
			}
		}
		
		.insta-panel .split3 .col{
			padding-top: 0;
		}
	}
	@media (max-width: 400px) {
		.royalSlider {
			.meta span {
				display: none;
			}
			.ss-icon:first-of-type {
				
			}
		}
	}
	@media (max-width: 400px) {
		.split3 .col {
			width: 300px;
			//max-width: 376px;
			margin: 0 auto 30px !important;
			min-height: 0 !important;
			float: none;
			
		}
	}
	@media (max-width: 700px) {
		.royalSlider {
			padding: 0;
		}
	}
}

.share-trigger a { 
	@extend %h6; 
	color: $black-lightest;
}


footer { 
	background: $gray-dark;
	color: #fff;
	padding-top: 36px;
	position: relative;
	z-index: 100;

	form { margin-bottom: $base; }
	.btn { background: $gray-light; }
	.col-1 { 
		float: left;
		@include flex-grid(4,3);
		margin-right: $flex-gutter;

		.split2 { 
			border-bottom: 1px solid $black-light;
			padding-bottom: $base-medium - 6;
			margin-bottom: $base-medium;
			
			input[type="text"]{
				line-height:0;	
			}	
		}

		@media (max-width: 768px) { 
			width: 100%;
			float: none;
		}
		@media (max-width: 400px) { 
			.social-header {
				width: 100%;
				margin-top: 20px;
			}
		}
	}

	.col-2 {
		float: left;
		@include flex-grid(6,5);

		#{$text-inputs} { 
			width: 100%;
			margin-bottom: $base;
		}
		.btn { width: 100%; }
		
		@media (max-width: 768px) { 
			width: 100%;
			float: none;
		}
	}

	h2 { 
		color: #fff;
		margin-bottom: $base-medium;
		text-transform: uppercase;
		&.contact-us {
    		margin-bottom: 20px;
		}
	}

	h3 { 
		@extend %h6;
		color: #fff;
	}

	#{$text-inputs} { 
		border: none;
		border-radius: 0;
		background: #454545;
		@extend %h6;
		color: #fff;
		box-shadow: none;
		&:focus { 
			background: $gray-light;
		}
	}

	select, .dd-select { 
		@extend %h6;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #454545;
		color: #fff;
		border: none;
		width: 100%;
		padding: 13px $base 16px;
		margin-bottom: $base;
		border-radius: 0;
	}
	.dd-container, .dd-select { width: 100% !important; }
	.dd-container { 		
		label { @extend %h6; margin-bottom: 0; color: #939392;}
	}
	.dd-select { background-color: #454545 !important; }
	.dd-selected { padding: 0 10px; }
	.dd-pointer { 
		border-top-color: #939392;
		right: 20px;
	}
	.dd-options { 
		box-shadow: none;
		border: 1px solid $black;
		border-top: none;
		top: 100%;
		li { margin: 0; }
		.dd-option { background: #454545; 
			label { 
				font: 700 10.5px/26px proxima-nova, sans-serif; 
				color: #939392;
				cursor: pointer;
			}
			&:hover { background: #fff; 
				label { color: #454545; }
			}
		}
	}
	//.dd-pointer-up { border-top-color: #939392 !important; }

	@media (max-width:700px) {
		padding-top: $base*3;
	}

	
} //end footer

.mailing-list { 
	input[type="text"] { width: 70%;}
	.btn { 
		width: 30%;
		margin-left: -4px;
	}
}


.copyright { 
	clear: both;
	font-style: italic;
	background: url(../i/icon-footer.png) no-repeat right $base;
	padding-top: $base;
	border-top: 1px solid $black-light;
}

.f-email {
	border-bottom: 1px solid $black-light;
	padding-bottom: $base-medium;
	margin-bottom: $base-medium;
	a { 
		font: 28px/1 $serif;
		color: #fff;
		text-decoration: none;
		#{$link-states} { 
			color: $black-light;
		}
		@media (max-width: 860px) { 
			font-size: 24px;
		}
		@media (max-width: 400px) { 
			font-size: 18px;
		}
	}
}

.address { 
	margin-bottom: 0;
	strong { 
		@extend %h6;
		color: #fff;
		display: block;
		margin-bottom: 0;
	}
	a { 
		color: #fff;
		text-decoration: none;
		#{$link-states} { 
			color: $black-light;
		}
		@media screen and (max-width: 500px){
			text-decoration: underline;
		}
	}
}


footer .ss-social {
	color: #cecece;
	font-size: 20px;
	margin-right: 20px;
	#{$link-states} { 
		color: $black-light;
	}
}

.social-header {

	h3 { 
		margin-bottom: $base/2; 
		text-transform:uppercase;
	}
	p { 
		margin-left: -6px;
		margin-bottom: 0 !important;
	}
}


.ss-mail a { margin-left: 10px; }


.meta .ss-icon { 
	color: $black-lightest; 
	font-size: 16px; 
	position: relative; 
	top: 3px; 
	margin-left: 6px;
	&:hover, &:focus {
		color: $black;
	}

}
.meta .ss-icon:first-of-type { top: 1px; }


footer .dd-options li:first-child { display: none; }
footer .split2 .col {
	margin-bottom: 0  !important;
}

label.error {
    color: red;
    font: 700 12px/15px proxima-nova, sans-serif;
    margin-top: -10px;
}

#mailing_form {
    label.error {
        margin-top: -38px;
    } 
}