/*-------------------------------------------

   	 Home
-------------------------------------------*/
.home-ps  { padding-top: 40px; }
.brand-buffer { 
	background: url(/public/a/i/border-top.png) repeat-x 0 0, url(/public/a/i/border.png) repeat-x 0 bottom; 
	background-color: $gray-light;
	padding: 150px 0;

	p {
		font: bold italic 18px/1 $serif;
		text-transform: uppercase;
		color: $black;
		letter-spacing: 4px;
		text-align: center;
	}

	@media (max-width: 800px) { 
		display: none;
	}
}

.masthead {
	margin-top: -15px;
	padding-bottom: 15px;
	background: url(/public/a/i/bg-header-alt.png) repeat-x 0 bottom;
	overflow: hidden;
	img {
		width: 100%;
		margin-bottom: 0;
		
	}
}
