.DS_Store


# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
/images/
public/a/c/.sass-cache/
/public/a/c/.sass-cache/67a2426603254a1c04abca98104cc1c0a49ccf6e/_general.scssc
/public/a/c/.sass-cache/67a2426603254a1c04abca98104cc1c0a49ccf6e/_header.scssc
/public/a/c/.sass-cache/67a2426603254a1c04abca98104cc1c0a49ccf6e/_layouts.scssc