	{embed="inc/head"}
	<body class="user-message-page">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		{embed="inc/header"}
		{embed="inc/search-modal"}

		<div class="content search-wrap">
			<div class="wrap">

			<h2>Success!</h2>
			<p class="intro">We'll get at you soonish.</p>

			<p class="meta">Have you read our <a href="/site/blog">Blog</a> yet?</p>

			</div><!-- /wrap-->
		</div>
		{embed="inc/footer"}
		{embed="inc/jsReference"}
	
	</body>
</html>