<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<title>The Heads of State</title>

	{embed="inc/meta"}
	<!--<script src="/a/j/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>-->
	{embed="inc/cssReference"}


<!--
 <style>
#dimensions { position: fixed; background: rgba(0,0,0,0.5); color: #fff; top: 0; left: 0; z-index: 100000; font-size: 20px; padding: 2px; }
  </style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
<script>
 $(document).ready(function() {
$('body').prepend('<p id="dimensions">Dimensions</p>');
 });

window.onresize = displayWindowSize;
window.onload = displayWindowSize;
function displayWindowSize() {
    var windowWidth = $(window).width(); //retrieve current window width
    var windowHeight = $(window).height(); //retrieve current window height
    document.getElementById("dimensions").innerHTML = windowWidth + "x" + windowHeight;
};

</script>
-->
</head>
