{exp:channel:entries channel="work_pages" disable="category_fields|member_data|pagination" limit="1" dynamic="no" url_title="in-house"}
<input class="children" type="hidden" value="{exp:playa:child_ids}">
<input class="category" type="hidden" value="6">
{work_1190x336 limit="4" }
<figure class="grid-block full-width">
	<a href="{site_url}site/detail/{url_title}">
		<img src="{1190x336 limit="1"}{1190x336}{/1190x336}" alt="" width="1190" height="336">
		
		<div class="figcaption">
			<div class="block-caption">
				<h3>{feature_title_a}</h3>
				<em>{categories backspace="2"}{category_name}, {/categories}</em>
			</div>
			<div class="block-caption-more">
				<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
				<p>{exp:excerpt limit="40" limit_type="words" indicator="..."}{summary}{/exp:excerpt}</p>
			</div>
		</div><!--/figcaption-->
	</a>
</figure>
{/work_1190x336}

{/exp:channel:entries}