        <script type="text/javascript">
            var $siteURL = '{site_url}';
        </script>
		
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-32824248-1']);
		  _gaq.push(['_setDomainName', 'theheadsofstate.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{site_url}public/a/j/vendor/jquery.validate.min.js"></script>
		<script src="{site_url}public/a/j/plugins.js"></script>
		<script src="{site_url}public/a/j/vendor/jquery.royalslider.custom.min.js"></script>
		<script src="{site_url}public/a/j/vendor/jquery.timeago.js"></script>
		<!-- <script src="{site_url}public/a/j/main.min.js"></script> -->
		<script src="{site_url}public/a/j/imagesloaded.js"></script>
		<script src="{site_url}public/a/j/jquery-imageloaded-master/jquery-imageload.js"></script>
		<script src="{site_url}public/a/j/main.js"></script>
		<script src="{site_url}public/a/j/vendor/stickystack.js"></script>
		<script src="{site_url}public/a/j/vendor/jquery.ddslick.min.js"></script>
		<script src="{site_url}public/a/j/vendor/waypoints.min.js"></script>
	

		<script>
		    jQuery(document).ready(function($) {										
				
		        $(".royalSlider").royalSlider({
		        	controlNavigation: 'none',
		        	loop: true,
		        	arrowsNav: false,
		        	autoHeight:true,
		        	sliderDrag:false

		        }); 
		        $(".royalSlider2").royalSlider({
    				controlNavigation: 'none',
    				arrowsNav: false,
    				autoHeight:true,
    				loop: true,
    				sliderDrag:false

    			});  	
		        $(".cs-royalSlider").royalSlider({
		        	controlNavigation: 'bullets',
		        	arrowsNav: true,
					arrowsNavAutoHide: true,					
		        	autoScaleSlider:true,
		        	loop: true, 
		        	autoScaleSliderWidth: '1190', 
		        	autoScaleSliderHeight: '506',
		        	imageScalePadding: 0,
		        	slideSpacing: 0,
		        	transitionType: 'fade',
		        	autoPlay: {
		        		// autoplay options go gere
		        		enabled: true,
		        		delay: 4000
		        	}
		        }); 
	  		 var slider = $(".royalSlider").data('royalSlider');
				$('.prev').click(function(){
					slider.prev();
				})
				$('.next').click(function(){
					slider.next();

				});
			var slider2 = $(".royalSlider2").data('royalSlider');
				$('.prev').click(function(){
					slider2.prev();
				})
				$('.next').click(function(){
					slider2.next();

				});	
			// var slider3 = $(".cs-royalSlider").data('royalSlider');
			// 	$('.prev-cs').click(function(){
			// 		slider3.prev();
			// 	})
			// 	$('.next-cs').click(function(){
			// 		slider3.next();

			// 	});					
			});
			
        $('.styled-select').ddslick({
            onSelected: function (data) {
                var actualField = $('#'+data.original.context.name+'Final');
                if(actualField.length) {
                    actualField.val(data.selectedData.value);   
                }
            }
        });
			
		</script>
		<script>
			var aux;
			$container = $(".header-inner-wrapper")
			$totalHeight = $container.outerHeight();

			$('body:not(.home) .search-wrap')
			  .waypoint(function(direction) {
			    if (direction === 'down' && $(window).width() > 768) { 
			    	$(".hover-trigger").fadeIn("fast");
			    	//$container.removeClass("top").addClass("fixed").css("top", -$totalHeight);
					$container.removeClass("top").css("top", -$totalHeight);
			    	//$("body").css("padding-top", $totalHeight);
			    	aux = 1;
			    }
			  }, { offset: 20 })
			  .waypoint(function(direction) {
			    if (direction === 'up' && $(window).width() > 768) { 
			    	$(".hover-trigger").fadeOut("fast");
			    	//$container.removeClass("fixed").css("top", 0);
					$container.css("top", 0);
			    	//$("body").css("padding-top", 0);
			    	$(".hover-trigger span").fadeIn();
			    	aux = 0;
			    }
			  }, { offset: 20 });


			  $('.home .home-ps')
			    .waypoint(function(direction) {
			      if (direction === 'down' && $(window).width() > 768) { 
			      	$(".hover-trigger").fadeIn("fast");
                    //console.log('up');
                    //$container.removeClass("top").addClass("fixed").css("top", -$totalHeight);
					$container.removeClass("top").css("top", -$totalHeight);
			      	//$("body").css("padding-top", $totalHeight);
					aux = 1;
			      }
			    }, { offset: 20 })
			    .waypoint(function(direction) {
			      if (direction === 'up' && $(window).width() > 768) { 
			      	$(".hover-trigger").fadeOut("fast");
			      	//$container.removeClass("fixed").css("top", 0);
					$container.css("top", 0);
			      	//$("body").css("padding-top", 0);
			      	$(".hover-trigger span").fadeIn();
                      //console.log('down');
					aux = 0;
			      }
			    }, { offset: 20 });
	

			$('.hover-trigger').hover(function() {
				if($(window).width() > 768){
					$(".hover-trigger span").fadeOut();
					$(".header-inner-wrapper").addClass("expanded").animate({
		  				top: 0
					});
				}
			});
			
			$('.hover-trigger').on('click', function(){
				if($(window).width() <= 768){
					$("header").slideDown();
				}	
			});
			
			$(document).mouseup(function (e){
			  
			    if($(window).width() <= 768){
				   
				    var container = $('header');
				
				    if (!container.is(e.target) // if the target of the click isn't the container...
				        && container.has(e.target).length === 0) // ... nor a descendant of the container
				    {
				       $("header").slideUp();
				    }
			    }
			});
			
			
            //Don't change header position if in mobile layout
            
                $container.mouseleave(function() {
                	console.log('Mouse Leave');
					if(aux == 1){
					
						$(this).removeClass("expanded").animate({
							
								top:  -$totalHeight
						});
					}
    				$(".hover-trigger span").fadeIn();
    			
    			});				
    
    			$container.waypoint(function() {
    			    //$(this).addClass("top")
    				//console.log("add top class");
    			});
                
            
            
				
				
	</script>