<meta name="description" content="">
<meta name="viewport" content="width=device-width initial-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" type="image/ico" href="{site_url}public/a/favicon.ico" />
<link rel="apple-touch-icon" href="/a/app-icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/a/app-icons/apple-touch-icon-72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/a/app-icons/apple-touch-icon-114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/a/app-icons/apple-touch-icon-144.png" />
<!--[if lt IE 9]>
    <script src="{site_url}public/a/j/html5shiv.js"></script>
<![endif]-->

<!--<meta property="og:image" content="http://www.theheadsofstate.com/a/i/fb-app-155.png"/>-->
<meta property="og:url" content="http://www.theheadsofstate.com" />
<meta property="og:title" content="The Heads of State" />
<meta property="og:site_name" content="The Heads of State />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
	