{exp:channel:entries channel="work_pages" disable="category_fields|member_data|pagination" limit="1" dynamic="no" url_title="posters"}
<input class="children" type="hidden" value="{exp:playa:child_ids}">
<input class="category" type="hidden" value="4">
<div class="split3_1-2">
	{work_336x336 limit="1" offset="0"}
	<figure class="grid-block first">
		<a href="/site/detail/{url_title}">
			<img src="{336x336_square}{336x336}{/336x336_square}" alt="" width="336" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_336x336}

	{work_824x336 limit="1" offset="0"}
	<figure class="grid-block col">
		<a href="/site/detail/{url_title}">
			<img src="{824x336}{824x336}{/824x336}" alt="" width="824" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_824x336}
</div>


<div class="split3_2-1">
	{work_824x336 limit="1" offset="1"}
	<figure class="grid-block first">
		<a href="/site/detail/{url_title}">
			<img src="{824x336}{824x336}{/824x336}" alt="" width="824" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_824x336}

	{work_336x336 limit="1" offset="1"}
	<figure class="grid-block col">
		<a href="/site/detail/{url_title}">
			<img src="{336x336_square}{336x336}{/336x336_square}" alt="" width="336" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_336x336}

</div>

<div class="split3_1-2">
	{work_336x336 limit="1" offset="2"}
	<figure class="grid-block first">
		<a href="/site/detail/{url_title}">
			<img src="{336x336_square}{336x336}{/336x336_square}" alt="" width="336" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_336x336}

	{work_824x336 limit="1" offset="2"}
	<figure class="grid-block col">
		<a href="/site/detail/{url_title}">
			<img src="{824x336}{824x336}{/824x336}" alt="" width="824" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_824x336}

</div>

<div class="split3_2-1">
	{work_824x702 limit="1" offset="0"}
	<figure class="grid-block first">
		<a href="/site/detail/{url_title}">
			<img src="{824x702}{824x702}{/824x702}" alt="" width="824" height="702">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_824x702}

	{work_336x702 limit="1" offset="0"}
	<figure class="grid-block col">
		<a href="/site/detail/{url_title}">
			<img src="{336x702}{336x702}{/336x702}" alt="" width="336" height="702">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_336x702}
</div>

<div class="split3_1-2 tall">

	<div class="grid-block first">
		{work_336x702 limit="1" offset="1"}
		<figure>
			<a href="/site/detail/{url_title}">
				<img src="{336x702}{336x702}{/336x702}" alt="" width="336" height="702">
				<div class="figcaption">
					<div class="block-caption">
						<h3>{feature_title_a}</h3>
						<em>{categories backspace="2"}{category_name}, {/categories}</em>
					</div>
					<div class="block-caption-more">
						<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
						<p>{summary}</p>
					</div>
				</div><!--/figcaption-->
			</a>
		</figure>
		{/work_336x702}

	</div>

	<div class="grid-block">	
		{work_824x336 limit="1" offset="3"}
		<figure>
			<a href="/site/detail/{url_title}">
				<img src="{824x336}{824x336}{/824x336}" alt="" width="824" height="336">
				<div class="figcaption">
					<div class="block-caption">
						<h3>{feature_title_a}</h3>
						<em>{categories backspace="2"}{category_name}, {/categories}</em>
					</div>
					<div class="block-caption-more">
						<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
						<p>{summary}</p>
					</div>
				</div><!--/figcaption-->
			</a>
		</figure>
		{/work_824x336}
		
		{work_824x336 limit="1" offset="4"}
		<figure>
			<a href="/site/detail/{url_title}">
				<img src="{824x336}{824x336}{/824x336}" alt="" width="824" height="336">
				<div class="figcaption">
					<div class="block-caption">
						<h3>{feature_title_a}</h3>
						<em>{categories backspace="2"}{category_name}, {/categories}</em>
					</div>
					<div class="block-caption-more">
						<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
						<p>{summary}</p>
					</div>
				</div><!--/figcaption-->
			</a>
		</figure>
		{/work_824x336}
	</div>
</div>


<div class="split3_2-1">
	{work_824x336 limit="1" offset="5"}
	<figure class="grid-block first">
		<a href="/site/detail/{url_title}">
			<img src="{824x336}{824x336}{/824x336}" alt="" width="824" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_824x336}

	{work_336x336 limit="1" offset="3"}
	<figure class="grid-block col">
		<a href="/site/detail/{url_title}">
			<img src="{336x336_square}{336x336}{/336x336_square}" alt="" width="336" height="336">
			<div class="figcaption">
				<div class="block-caption">
					<h3>{feature_title_a}</h3>
					<em>{categories backspace="2"}{category_name}, {/categories}</em>
				</div>
				<div class="block-caption-more">
					<p class="meta"><span>{year_published}</span> | {feature_title_b}</p>
					<p>{summary}</p>
				</div>
			</div><!--/figcaption-->
		</a>
	</figure>
	{/work_336x336}

</div>
{/exp:channel:entries}															