<section class="social-footer cards hidden-phone">
	<div class="arrows">
		<span class="prev">Previous</span>
		<span class="next">Next</span>
	</div>
	<div class="wrap">

		<div class="adjunct-header">
			<ul>
				<li><a class="on blog-trigger" href="#">Blog</a></li>
				<li><a class="insta-trigger" href="#">Instagram</a></li>
			</ul>
			<p class="adjunct-link"><a href="/site/blog/">See All Posts</a></p>
		</div>


		<h2 class="move">Blog</h2>
		<div class="royalSlider rsDefault blog-panel">
			{exp:channel:entries channel="blog" dynamic="no" limit="15"}
			{if count == '1'}<div class="split3 rsContent">{/if}
			{if count == '4'}<div class="split3  rsContent">{/if}
			{if count == '7'}<div class="split3  rsContent">{/if}
			{if count == '10'}<div class="split3 rsContent">{/if}
			{if count == '13'}<div class="split3  rsContent">{/if}

			<article class="col {if count == "1"}first{/if}{if count == "4"}first{/if}{if count == "7"}first{/if}{if count == "10"}first{/if}{if count == "13"}first{/if}">
				<a href="{title_permalink="site/article"}">
					<img class="hidden-phone" src="{home_feature_image}" alt="" />
					<h3>{title}</h3>
				</a>
				<div class="cushion">
					<p class="meta">
						{entry_date format="%n.%d.%y"} | <em>By {author}</em> 
						<br/>
						<a class="ss-social ss-icon" href="https://www.facebook.com/dialog/feed&link={title_permalink='site/article'}">Like</a>
						<a class="ss-social ss-icon" href="https://twitter.com/intent/tweet?url={title_permalink="site/article"}&hashtags=theheadsofstate">twitter</a>
					
					</p>
					<!--
					<p class="article">
						{article_intro_text}&hellip; <a href="{title_permalink="site/article"}">Read more</a>
					</p>
					-->
					
				</div>
			</article>
			{if count == '3'}</div><!-- split3-->{/if}
			{if count == '6'}</div><!-- split3-->{/if}
			{if count == '9'}</div><!-- split3-->{/if}
			{if count == '12'}</div><!-- split3-->{/if}
			{if count == '15'}</div><!-- split3-->{/if}
			{/exp:channel:entries}
		</div>

		
		<h2 class="move">Instagram</h2>
		<div class="royalSlider rsDefault royalSlider2 insta-panel">
			{exp:tgl_instagram:user_feed username="theheadsofstate" limit="15" cache="15"}
			{if count == '1'}<div class="split3 rsContent">{/if}
			{if count == '4'}<div class="split3  rsContent">{/if}
			{if count == '7'}<div class="split3  rsContent">{/if}
			{if count == '10'}<div class="split3 rsContent">{/if}
			{if count == '13'}<div class="split3  rsContent">{/if}

			<article class="block-instagram col {if count == "1"}first{/if}{if count == "4"}first{/if}{if count == "7"}first{/if}{if count == "10"}first{/if}{if count == "13"}first{/if}">
				<a target="_blank" href="{link}">
					<img src="{standard_resolution_url}" alt="">
					<p>
						<span class="likes">{likes_count} Likes</span>
						<em>{exp:wb_relative_date}{created_at}{/exp:wb_relative_date}</em>
					</p>	
				</a>
				
			</article>
			{if count == '3'}</div><!-- split3-->{/if}
			{if count == '6'}</div><!-- split3-->{/if}
			{if count == '9'}</div><!-- split3-->{/if}
			{if count == '12'}</div><!-- split3-->{/if}
			{if count == '15'}</div><!-- split3-->{/if}
			{/exp:tgl_instagram:user_feed}
		</div>
		

	</div><!-- /wrap-->

</section><!-- /social-footer-->
